# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Docker
*.tar

# Temporary Files
*.tmp

# Environment Files
.env

# Jenkins
workspace/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup